
body {
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
	font-size: 18px;
}

.jumbotron {
  background-size: cover;
}


.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fc4445;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
#extractive{
   padding: 30px 0;
  }
#keyword{
   padding: 30px 0;
  }
#about{
    padding: 30px 0;
  }

.color-grey {
	color: #bdc3c7;
}
.color-light {
	color: #f6f8f9;
}
.color-dark {
	color: #333;
}
.color-primary {
	color: #1abc9c;
}
.color-success {
	color: #2ecc71;
}
.color-info {
	color: #2ecc71;
}
.color-warning {
	color: #e67e22;
}
.color-danger {
	color: #e74c3c;
}

.background-l-blue {
	background-color: #2196F3;
}
.background-grey {
	background-color: #bdc3c7;
}
.background-light {
	background-color: #f6f8f9;
}
.background-dark {
	background-color: #292929;
}
.background-primary {
	background-color: #1abc9c;
}
.background-success {
	background-color: #2ecc71;
}
.background-info {
	background-color: #2ecc71;
}
.background-warning {
	background-color: #e67e22;
}
.background-danger {
	background-color: #e74c3c;
}

h2.section-title {
	font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}