
<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80994831-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-80994831-3');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Legal text NLP</title>

    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', path='/css/jumbotron.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/loader.css') }}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="home">Cognisai</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home">Summariser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="home">Sentence Categoriser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="home">Contract Analysis</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="contact">Contact us</a>
        </div>
        <div class="col-md-6 text-right">
          <p>&copy; Cognisai 2019 </p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', path='/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/client.js') }}"></script>
  </body>
</html>
