{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h6 class="display-3">Contact us</h6>
      <p>If you would like to contact us with any questions, or would like to try a beta of our legal toolset, please let us know.</p>
      <form action="https://getform.io/f/ac694c5d-dc87-4142-89a5-361faac20d6b" method="POST">
        <div class="form-group">
          <label for="emailBox">Email address</label>
          <input type="email" class="form-control" id="emailBox" aria-describedby="emailHelp" placeholder="Enter email" name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email or spam you.</small>
        </div>
        <div class="form-group">
          <label for="messageBox">Message</label>
          <textarea class="form-control rounded-0 result-area" id="messageBox" rows="4" placeholder="Message" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>



</main>
{% endblock %}
