{% extends "base.html" %}

{% block content %}
<main role="main">

<section id="header" class="background-l-blue">
  <div class="jumbotron background-l-blue">
    <div class="container">
      <h2 class="display-3">Legal Text NLP</h2>
      <p>A website for summarisation of legal documents. </p>
    </div>
  </div>
</section>
<section id="extractive" class="background-light">
    <div class="container">
      <h2 class="display-4 font-weight-bold text-dark" >Extractive Summarisation</h2>
      <p></p>
      <p class="text-dark"><strong>1) </strong> Please upload a .pdf document you would like to summarise using the button below. then select a summary length to summarise the document.</p>
      <div class="row">
        <div class="col-md-2">
          <div>
            <label class="btn btn-primary btn-file btn-lg ">
              Upload <input id='docpicker' name='file' accept=".pdf" type="file" style="display: none;" onchange='showPicked(this)'>
            </label>
          </div>
        </div>
        <div class="col-md-10">
          <div class='upload-label'>
            <label id='upload-label' class="font-italic text-dark">No file chosen</label>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <p class="text-dark"><strong>2) </strong>Please select a summary length</p>
      <div class="row">
        <div class="col-md-6">
          <div class="btn-toolbar">
            <button type="button" id="btnShort" class="btn btn-secondary btn-lg mr-2 " onclick="shortSummary()" disabled>Short</button>
            <button type="button" id="btnMedium" class="btn btn-secondary btn-lg mr-2" onclick="mediumSummary()" disabled>Medium</button>
            <button type="button" id="btnLong" class="btn btn-secondary btn-lg mr-2" onclick="longSummary()" disabled>Long</button>
          </div>
        </div>
        <div class="col-md-6">
          <div id="loaderAnimation" ><div></div><div></div><div></div></div>
        </div>
      </div>

      <p>&nbsp;</p>
      <div class="form-group">
        <h4 class="text-dark">Summary</h4>
        <textarea class="form-control rounded-0 result-area" id="result-area" rows="12"></textarea>
      </div>

      <div class='pdf-area'>
      </div>
    </div>
</section>
<section id="keyword"  class="background-grey">
  <div class="container">
      <h2 class="display-4 font-weight-bold text-dark" >Keyword Summary</h2>
      <p class="text-dark">Please select the button below to display a keyword summary for an keyword abstractive summarisation model trained on scientific literature.
        Let us know if you would like us to train this model on legal documents to generate document keywords</p>
      <div class="form-group">
        <h4 class="text-dark">Source document (press generate to show)</h4>
        <textarea class="form-control rounded-0 source-area" id="keyword-source-area" rows="12"></textarea>
      </div>
      <div class="col-md-6">
        <div class="btn-toolbar">
          <button type="button" id="btnKeyword" class="btn btn-success btn-lg mr-2 " onclick="keywordSummary()">Generate</button>
        </div>
      </div>
    <p></p>
      <div class="form-group">
        <h4 class="text-dark">Keywords</h4>
        <textarea class="form-control rounded-0 result-area" id="keyword-result-area" rows="4"></textarea>
      </div>

  </div>

</section>
<section id="about" class="background-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-light">About</h2>
        <p class="text-light">The extractive summarisation model implemented here uses an extractive method, whereby the most important sentences are identified and summarised.</p>
        <p class="text-light">Summary lengths for short, medium and long summaries are: 2, 4 and 8 sentences respectively.</p>
        <p class="text-light">An alternative method: abstractive summarisation uses a model where generated summaries reproduce the essence of the text in a new way that conveys the most critical information. Abstractive summarisation may introduce words and phrases not contained in the original document, but such such summaries are closer to way humans would summarise a document. We are working on a more advanced abstractive summarisation model, <a href="contact">contact us</a> if you would like to know more.</p>
        <p></p>
        <p class="text-light">The keyword summarisation model implemented here uses a topic aware sequence to sequence keyphrase generation model. The model has been trained on 20 thousand scientific journal articles. The top ten keywords are shown. <a href="contact">Let us know</a> if you would like us to train a model on legal documents.</p>
        <p class="text-light">The models will be significantly improved (we expect) in the near future</p>
        <p></p>
        <p class="text-light">If you would like to be notified when we improve the model please add your email address using the button below (no spam, ever)</p>
        <p><a class="btn btn-success btn-lg" href="notify" role="button">Notify me</a></p>
      </div>
    </div>

    <hr>

  </div>
</section>
</main>
{% endblock %}
