{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h6 class="display-3">Be notified</h6>
      <p>If you would like to be notified when we develop signicant new code for application to the legal domain, plase add your email address below.</p>
      <form action="https://getform.io/f/ac694c5d-dc87-4142-89a5-361faac20d6b" method="POST">
        <div class="form-group">
          <label for="emailBox">Email address</label>
          <input type="email" class="form-control" id="emailBox" aria-describedby="emailHelp" placeholder="Enter email"  name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email or spam you.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>



</main>
{% endblock %}
